* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: grey;
}

p {
  margin-bottom: 0%;
}

.wallet .create_mint button {
  padding: 0.5rem 2rem;
  background-color: black;
  color: white;
  border: 1px solid black;
  border-radius: 20px;
}

.wallet .title h2 {
  color: black;
  font-weight: 600;
}

.wallet .btn_group button {
  padding: 0.5rem 2rem;
  background-color: rgb(194, 194, 196);
  color: rgb(0, 0, 0);
  border: 1px solid black;
  border-radius: 20px;
}

.wallet .show {
  color: black;
  font-weight: 600;
}

.nft .cart {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  min-height: 14rem;
  width: 100%;
  border-radius: 4px;
}

.nft .title {
  font-weight: 600;
}

.nft .cart .img img {
  height: 130px;
  width: 130px;
  border-radius: 50px;
}

.nft .cart .img p {
  font-weight: 600;
  font-size: 0.9rem;
}

.nft .cart .img span {
  font-weight: 500;
  font-size: 0.85rem;
}
